# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Model weights
*.pth

# Visualizations and Images
*.png
!HRNET.png
!1.png
!2.png
!3.png
!4.png

# VS Code
.vscode/
