# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Model weights
*.pth

# Visualizations and Images
*.png
*.jpeg
*.jpg
!"Plots and Images/"

# VS Code
.vscode/
